<html>
    <body>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="content-placeholder"></div>
        <div class="ui grid">
            <div class="three wide column">
            </div>
            <div class="ten wide column">
                <table id="primary-tasks-table" class="ui celled table">
                    <thead>
                        <tr>
                            <th>b</th>
                            <th>b</th>
                            <th>b</th>
                            <th>b</th>
                            <th>b</th>
                            <th>b</th>
                        </tr>
                    </thead>
                    <tbody id="primary-tasks-table-body">
                        <tr>
                            <td>c<br/>hello<br/><a>http://www.good-work.com</a></td>
                            <td>c</td>
                            <td>c</td>
                            <td>c</td>
                            <td>c</td>
                            <td>c</td>
                        </tr>
                    </tbody>
                </table>
                <button id="primary-blue-button" class="ui primary button">
                Save
                </button>
            </div>
            <div class="three wide column">
            </div>
        </div>
        <script id="table-data-template" type="text/x-handlebars-template">
            {{#tasks}}
            <tr onclick="extendDetails('{{ref}}')">
                <td>{{title}}

                    {{#if due_date}}
                    Due: {{due_date}}
                    {{else}}
                    No due date.
                    {{/if}}

                    <div id="hidden-content-{{ref}}">
                    </div>
                </td>
                <td>c</td>
                <td>c</td>
                <td>c</td>
                <td>c</td>
            </tr>
            {{/tasks}}
        </script>

        <script id="hidden-data-template" type="text/x-handlebars-template">
            <p>{{{htmlize detail}}}</p>
            <p>{{created_at}}</p>
            <p>{{created_at}}</p>
        </script>

        <script id="address-template" type="text/x-handlebars-template">
            <p>You can find me in {{city}}. My address is {{number}} {{street}}.</p>
        </script>
        <script id="template" type="text/x-handlebars-template">
            <p>Use the <strong>{{power}}</strong>, {{name}}!</p>
        </script>
        <link rel="stylesheet" href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.min.js"></script>
        <script type="text/javascript" src="/static/index.js"></script>
    </body>
</html>
